black==24.10.0
bleak==1.1.1
click==8.3.0
dotenv==0.9.9
iniconfig==2.3.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
Pygments==2.19.2
pyink==24.10.1
pyobjc-core==12.0
pyobjc-framework-Cocoa==12.0
pyobjc-framework-CoreBluetooth==12.0
pyobjc-framework-libdispatch==12.0
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-mock==3.15.1
python-dotenv==1.2.1
typing_extensions==4.15.0
